<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<h3 th:text="${newsModel.title}"></h3>
<div>
    <p><strong>id：</strong><br><span th:text="${newsModel.news.id}"></span></p>
    <p><strong>作者：</strong><br><span th:text="${newsModel.news.author}"></span></p>
    <p><strong>图片：</strong><br><span><img th:src="${news.image}" height="100px" width="200px"></span></p>
    <p><strong>标题：</strong><br><span th:text="${newsModel.news.title}"></span></p>
    <p><strong>副标题：</strong><br><span th:text="${newsModel.news.subtitle}"></span></p>
    <p><strong>内容：</strong><br><span th:text="${newsModel.news.content}"></span></p>
</div>
<!--<div th:replace="~{fragments/footer::footer}"></div>-->
</body>
</html>