<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>新闻管理</title>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<h3 th:text="${newsModel.title}"></h3>
<div>
    <a th:href="@{/news/add}">新闻录入</a>
</div>
<table border="1">
    <thead>
    <tr>
        <td>id</td>
        <td>图片</td>
        <td>标题</td>
        <td>副标题</td>
        <td>作者</td>
        <td>时间</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${newsModel.newsList.size()} eq 0">
        <td colspan="7">没有新闻信息！</td>
    </tr>
    <tr th:each="news:${newsModel.newsList}">
        <td th:text="${news.id}"></td>
        <td>
            <img th:src="${news.image}" height="50px" width="80px">
        </td>
        <td >
            <a th:href="@{'/news/'+${news.id}}" th:text="${news.title}"></a>
        </td>
        <td th:text="${#strings.abbreviate(news.subtitle,20)}"></td>
        <td th:text="${news.author}"></td>
        <td th:text="${#dates.format(news.addTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
<!--        <td th:text="${news.addTime}"></td>-->
        <td >
            <a th:href="@{'news/delete/'+${news.id}}">删除</a>
            <a th:href="@{'news/modify/'+${news.id}}">修改</a>
        </td>
    </tr>
    </tbody>
</table>
<!--<div th:replace="~{fragments/footer::footer}"></div>-->
</body>
</html>